<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/account.css">
        <link rel="stylesheet" type="text/css" href="/main.css">

    <script src="https://www.gstatic.com/charts/loader.js"></script>
        <script>
            google.charts.load('current', {
                callback: function(){
                    drawChart1()
                    window.addEventListener("resize", drawCharts);
                  },
                  packages:['corechart']
                });

                drawChart1();

                function drawChart1(){
                    // Create the data table for the chart
                    var data = new google.visualization.DataTable();
                    data.addColumn('string', 'Balance');
                    data.addColumn('number', 'Count');
                    data.addRows([
                        ['1-500 RON', $firstCategoryCount],
                        ['500-1500 RON', $secondCategoryCount],
                        ['1500-2500 RON', $thirdCategoryCount],
                        ['>2500 RON', $fourthCategoryCount]
                    ]);

                    // Set chart options
                    var options = {
                        title:'All accounts, by balance',
                        colors: [ 'purple', 'blue', 'red', 'green' ],
                        backgroundColor: { fill: 'white', fillOpacity: 0.8},
                    };

                    // Instantiate and draw the chart
                    var chart = new google.visualization.PieChart(document.getElementById('chart_div1'));
                    chart.draw(data, options);
                }
        </script>

    </head>

    <body>
        <div class="improvedtitle">
            <p><b>List of accounts<b></p>
        </div>

        <div id='tableDiv' style='background-color: rgba(255,255,255,0.5); padding: 10px 10px 15px 10px;'>

    <form method='get'>

        Sort by:
        <select select class="theme-construction" name='order' onchange='this.form.submit()'>
            <option value='DATE_OPENED'> Date Opened </option>
            <option value='BALANCE' #if($crtOrder == "BALANCE") selected #end> Balance </option>
            <option value='ID' #if($crtOrder == "ID") selected #end> Account ID </option>
        </select>
    </form>

        <table>

        <tr>
            <th> <b>Id</b> </th>
            <th> <b>Name</b> </th>
            <th> <b>Balance</b> </th>
            <th> <b>Date Opened</b> </th>
            <th> <b>Customer ID</b> </th>
        </tr>

    #foreach($account in $accounts)
        <tr>
            <td align=center>
                $account.id
            </td>

            <td width=40% align = center>
                $account.name
            </td>

            <td width=10% align = center>
                $account.balance
            </td>

            <td width=10% align = center>
                $account.dateOpened
            </td>

            <td width=10% align = center>
                $account.customerId
            </td>

            <td width=5% align=center>
                <button type="button" button class= "button button3" onclick="location.href='/accounts/update/$account.id'"> Update </button>
            </td>

            <td width=5% align=center>

                <button type="button" button class= "button button2" onclick="if (confirm('Are you sure you want to delete account with id $account.id ?')) { location.href='/accounts/delete/$account.id'; }">
                    Delete
                </button>
            </td>
        </tr>
        #end

        </table>


    <button type="button" button class= "button button1" onclick="location.href='/accounts/add'" > Add Account </button>  &nbsp;
    <button type='button' button class= "button button4" onclick="location.href='/homepage'"> Go back to homepage </button>

    </div>

    <!-- charts area (content set dynamically by javascript code from page head) -->
    <div id="container" style="margin-top: 15px;">
        <div id="chart_div1" style="top: 83%;left: 50%;width: 33%;height: 180px;margin-left: auto;margin-right: auto;"></div>
    </div>

    </body>
</html>