<html>
<head>
    <link rel="stylesheet" type="text/css" href="/account.css">
    <link rel="stylesheet" type="text/css" href="/add_edit.css">
</head>

<body>

    <br>

    <form method='post'>
            <table>

                <tr>
                    <td colspan='2'>
                        <div class='title'>
                            #if($isUpdate) <h3>Update Account Info</h3> #else <h3>Please add below a new account!</h3> #end
                        </div>
                    </td>
                </tr>


            #if ($errorMsg)
                <tr>
                    <td colspan='2'>
                        <p class='error'> $!errorMsg </p>
                    </td>
                </tr>
            #end

            <tr>
                <td>Name: </td>
                <td> <input type="text" id="name" name="name" value="$prevName" required autofocus></td>
            </tr>

            <tr>
                <td>Balance: </td>
                <td> <input type="number" id="balance" name="balance" value="$prevBalance" required min="0" #if($isUpdate) readonly> </td> #end
            </tr>

            <tr>
                <td>Date Opened: </td>
                <td> <input type="date" id="dateOpened" name="dateOpened" value="$prevDateOpened" required #if($isUpdate) readonly> </td> #end
            </tr>

            <tr>
                <td>Customer ID: </td>
                <td> <input type="number" id="customerId" name="customerId" value="$prevCustomerId" required #if($isUpdate) readonly> </td> #end
            </tr>

            <tr>
                <td colspan='2' style='padding-top:15px; text-align: center;'>
                    <button type='button' onclick="location.href='/accounts'"> Cancel </button>
                    <button type='submit' id='submitBtn' > #if($isUpdate) Update #{else} Add #end </button>
                </td>
            </tr>
            </table>

        <input type='hidden' id='serverAction' name='serverAction' value=''>

        <input type='hidden' name='id' value='$prevId'>

    </form>

</body>
</html>