td {
    padding: 5px;
}

table {
     background-color: rgba(255,255,255,0.5);
     padding: 15px;
}

button {
    width: 80px;
    margin: 10px;
}

<h1> {
    color: #ff0000
}

<h3>{
    color: #2e73b0;
    text-align: left;
    vertical-align: middle;
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

body {
    background-color: #339FFF
}
