body{
    background-image: url('Wall Street.jpg');
    background-size: cover;
}



.container{
  position: relative;
}

.text-block {
  position: absolute;
  bottom: 38%;
  left: 20%;
  padding-left: 20px;
  padding-right: 20px;
}

.column {
  float: left;
  width: 32.5%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}