body{
    background-image: url('Customer.jpg');
    background-repeat: no-repeat;
    background-position: 0% 0%;
    background-size: 100% 100%;
}

.title {
    color: #2e73b0;
    text-align: center;
    vertical-align: middle;
    font-size: 65px;
    font-weight: bold;
    padding: 10px;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

.error {
    color: red;
}