h1 {
    color: #2A2C2E
}

h2{
    color: #2e73b0;
    text-align: left;
    vertical-align: middle;
    font-size: 30px;
    font-weight: bold;
    padding: 10px;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

th, td {
      border: 1px solid #ddd;
      padding: 8px;
}



table{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

tr:nth-child(even){background-color: #d9d4d4;}

tr:hover {background-color: #ddd;}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #2e73b0;
  color: #e7e7e7;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: white;
  color: black;
  border: 2px solid #4CAF50;
}

.button1:hover {
  background-color: #4CAF50;
  color: white;
}

.button2 {
  background-color: white;
  color: black;
  border: 2px solid #f44336;
}

.button2:hover {
  background-color: #f44336;
  color: white;
}

.button3 {
  background-color: white;
  color: black;
  border: 2px solid #e7e7e7;
}

.improvedtitle{
  color: #2e73b0;
  font-size: 7rem;
  line-height: 8rem;
  font-family: lato;
  font-weight: 900;
  text-align: center;
  @include text-shadow(longshadow(darken($bg,30%),$bg,50, 0.5));
}

.title {
    color: white;
    text-align: center;
    vertical-align: middle;
    font-size: 65px;
    font-weight: bold;
    padding: 10px;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

a {
  color: #2e73b0;
  text-decoration: none;
}

a:hover {
  color: transparent;
  -webkit-text-stroke: 2px var(#2e73b0);
}

@supports not(-webkit-text-stroke: 2px red) {
  a:hover {
    text-shadow:
      3px 3px 0 var(#2e73b0),
      -1px -1px 0 var(#2e73b0),
      1px -1px 0 var(#2e73b0),
      -1px 1px 0 var(#2e73b0),
      1px 1px 0 var(#2e73b0);
  }

.button3:hover {background-color: #e7e7e7;}

.button4 {
  background-color: white;
  color: black;
  border: 2px solid #2e73b0;
}

.button4:hover {background-color: #2e73b0;}



.theme-construction {
  --radius: 0;
  --baseFg: white;
  --baseBg: #2e73b0;
  --accentFg: #2e73b0;
  --accentBg: white;
}

select {
  font: 400 12px/1.3 sans-serif;
  -webkit-appearance: none;
  appearance: none;
  color: var(--baseFg);
  border: 1px solid var(--baseFg);
  line-height: 1;
  outline: 0;
  padding: 0.65em 2.5em 0.55em 0.75em;
  border-radius: var(--radius);
  background-color: var(--baseBg);
  background-image: linear-gradient(var(--baseFg), var(--baseFg)),
    linear-gradient(-135deg, transparent 50%, var(--accentBg) 50%),
    linear-gradient(-225deg, transparent 50%, var(--accentBg) 50%),
    linear-gradient(var(--accentBg) 42%, var(--accentFg) 42%);
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
  background-size: 1px 100%, 20px 22px, 20px 22px, 20px 100%;
  background-position: right 20px center, right bottom, right bottom, right bottom;
}

select:hover {
  background-image: linear-gradient(var(--accentFg), var(--accentFg)),
    linear-gradient(-135deg, transparent 50%, var(--accentFg) 50%),
    linear-gradient(-225deg, transparent 50%, var(--accentFg) 50%),
    linear-gradient(var(--accentFg) 42%, var(--accentBg) 42%);
}

select:active {
  background-image: linear-gradient(var(--accentFg), var(--accentFg)),
    linear-gradient(-135deg, transparent 50%, var(--accentFg) 50%),
    linear-gradient(-225deg, transparent 50%, var(--accentFg) 50%),
    linear-gradient(var(--accentFg) 42%, var(--accentBg) 42%);
  color: var(--accentBg);
  border-color: var(--accentFg);
  background-color: var(--accentFg);


